<link rel="stylesheet" href="<%= baseURL %>/css/contacto.css">
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="<%= baseURL %>javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
      <a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Inicio</a>
      <button class="dropdown-btn">Autenticación
       <img src="<%= baseURL %>/public/assets/angle-down.svg" alt="" style="width:16px; height:16px">

      </button>
      <div class="dropdown-container">
        <a href="<%= baseURL %>/autenticacion" title="Autenticación de obras de arte">Autenticación</a>
        <a href="<%= baseURL %>/autenticacion/examinacion" title="Examinación de obras de arte">Examinación</a>
        <a href="<%= baseURL %>/autenticacion/casos-dificiles" title="Obras de arte difíciles de autenticar">Casos difíciles</a>
        <a href="<%= baseURL %>/autenticacion/revision-del-rechazo" title="Revisamos los trabajos rechazados">Revisión del rechazo</a>
        <button class="dropdown-btn">Investigación
                  <img src="<%= baseURL %>/public/assets/angle-down.svg" alt="" style="width:16px; height:16px">

        </button>
        <div class="dropdown-container">
          <a href="<%= baseURL %>/autenticacion/investigacion" title="Conocemos y aplicamos todos los métodos de investigación de obras de arte">Investigación</a>
          <a href="<%= baseURL %>/autenticacion/documental" title="Investigación documental de arte">Investigación documental</a>
          <a href="<%= baseURL %>/autenticacion/biografica" title="Investigación biográfica">Investigación biográfica</a>
          <a href="<%= baseURL %>/autenticacion/robos" title="Robos de obras de arte">Robos</a>
          <a href="<%= baseURL %>/autenticacion/origen" title="Orígenes de obras de arte">Origen</a>
        </div>
        <a href="<%= baseURL %>/autenticacion/atribucion" title="Atribución de obras de arte">Atribución</a>
        <a href="<%= baseURL %>/autenticacion/analisis" title="Análisis de obras de arte">Análisis</a>
        <a href="<%= baseURL %>/autenticacion/certificacion-coa" title="Expedimos certificados (COA)">Certificación (COA)</a>


      </div>
      <a href="<%= baseURL %>/tasacion-del-valor" title="Peritaje de obras de arte, valoración">Tasación del valor</a>
<a href="<%= baseURL %>/blog" title="Blog">Blog</a>

      <button class="dropdown-btn">Científico y forense
                <img src="<%= baseURL %>/public/assets/angle-down.svg" alt="" style="width:16px; height:16px">

      </button>
      <div class="dropdown-container">
        <a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses aplicados a obras de arte">Científico y forense</a>
        <a href="<%= baseURL %>/cientifico-y-forense/pruebas-cientificas" title="Pruebas científicas en obras de arte">Pruebas científicas</a>

        <button class="dropdown-btn">Datación
                  <img src="<%= baseURL %>/public/assets/angle-down.svg" alt="" style="width:16px; height:16px">

        </button>
        <div class="dropdown-container">
          <a href="<%= baseURL %>/cientifico-y-forense/datacion" title="Datación de obras de arte">Datación</a>
          <a href="<%= baseURL %>/cientifico-y-forense/datacion-por-carbono" title="Datación de obras de arte por carbono">Datación por carbono</a>
          <a href="<%= baseURL %>/cientifico-y-forense/sobre-la-datacion" title="Sobre los estudios dendrocronológicos">Sobre la datación dendrocronológica</a>
          <a href="<%= baseURL %>/cientifico-y-forense/sobre-la-termoluminiscencia" title="Investigación por termoluminiscencia">Sobre la termoluminiscencia</a>
          <a href="<%= baseURL %>/cientifico-y-forense/analisis-de-pigmentos" title="Análisis de pigmentos de obras de arte">Análisis de pigmentos</a>
          <a href="<%= baseURL %>/cientifico-y-forense/datacion-por-metales" title="Prueba de datación de obras de arte por metales">Datación por metales</a>
          <a href="<%= baseURL %>/cientifico-y-forense/analisis-del-papel" title="Análisis de obra de arte por el papel">Análisis del papel</a>
        </div>


        <button class="dropdown-btn">Estudios forenses
                  <img src="<%= baseURL %>/public/assets/angle-down.svg" alt="" style="width:16px; height:16px">

        </button>
        <div class="dropdown-container">
          <a href="<%= baseURL %>/cientifico-y-forense/estudios-forenses" title="Estudios forenses">Estudios forenses</a>
          <a href="<%= baseURL %>/cientifico-y-forense/firma" title="Investigación de firma de artista">Firma</a>
          <a href="<%= baseURL %>/cientifico-y-forense/firma-y-caligrafia" title="Firma y caligrafía de artista">Firma y caligrafía</a>
          <a href="<%= baseURL %>/cientifico-y-forense/linguistica-forense" title="Investigación forense en arte">Lingüistica forense</a>
          <a href="<%= baseURL %>/cientifico-y-forense/sellos-y-etiquetas" title="Sellos y etiquetas de obras de arte">Sellos y etiquetas</a>
          <a href="<%= baseURL %>/cientifico-y-forense/sellos" title="Sellos y etiquetas de obras de arte">Sellos</a>
          <a href="<%= baseURL %>/cientifico-y-forense/tachuelas" title="Investigación de arte por sus tachuelas">Tachuelas</a>
          <a href="<%= baseURL %>/cientifico-y-forense/montaje-de-bastidores" title="Montaje de bastidores">Montaje de bastidores</a></li>
          <a href="<%= baseURL %>/cientifico-y-forense/especies-de-madera" title="Maderas en arte">Especies de madera</a></li>
          <a href="<%= baseURL %>/cientifico-y-forense/paneles" title="Paneles de obras de arte">Paneles</a></li>
          <a href="<%= baseURL %>/cientifico-y-forense/tablas" title="Arte en tablas">Tablas</a></li>
        </div>

        <a href="<%= baseURL %>/cientifico-y-forense/fotografia-especial" title="Análisis de obra por fotografía">Fotografía especial</a>
        <a href="<%= baseURL %>/cientifico-y-forense/rayos-x" title="Examinación de obra de arte con rayos X">Examinación de rayos X</a>
      </div>
      <button class="dropdown-btn">Vender
                <img src="<%= baseURL %>/public/assets/angle-down.svg" alt="" style="width:16px; height:16px">

      </button>
      <div class="dropdown-container">
        <a href="<%= baseURL %>/vender" title="Venta de obras de arte">Vender</a>
        <a href="<%= baseURL %>/vender/consejos" title="Consejos para vender obra de arte">Consejos para la venta</a>
        <a href="<%= baseURL %>/vender/ayuda" title="Ayuda para vender arte">Ayuda</a>
        <a href="<%= baseURL %>/vender/venta-de-corretaje" title="Venta de corretaje de obra de artista">Venta de corretaje</a>
        <a href="<%= baseURL %>/vender/contrato-privado" title="Venta de arte por contrato privado">Venta a través de un contrato privado</a>
        <a href="<%= baseURL %>/vender/subastacion" title="Subastación de obra de arte">Subastación</a>
        <a href="<%= baseURL %>/vender/venta-online" title="Venta de obra de arte en linea">Venta online</a>
      </div>
      <a href="<%= baseURL %>/artistas/filter/?q=a">Artistas</a>
      <button class="dropdown-btn">Sobre nosotros
                <img src="<%= baseURL %>/public/assets/angle-down.svg" alt="" style="width:16px; height:16px">

      </button>
      <div class="dropdown-container">
        <a href="<%= baseURL %>/sobre-nosotros" title="Quienes Somos - Expertos en Arte">Sobre nosotros</a>
        <a href="<%= baseURL %>/sobre-nosotros/nuestros-clientes" title="Nuestros clientes">Nuestros clientes</a>
        <a href="<%= baseURL %>/sobre-nosotros/direcciones" title="Tenemos especialistas en todo el mundo">Locaciones</a>
      </div>
      <a href="<%= baseURL %>/testimonios" title="Testimonios de nuestros clientes">Testimonios</a>
      <a href="<%= baseURL %>/#contacto" title="Contacto">Contacto</a>
      <a href="<%= baseURL %>/payment" title="Nuestras tarifas">Tarifas</a>
      <a href="<%= baseURL %>/preguntas-frecuentes" title="Preguntas frecuentes">Preguntas frecuentes</a>
    </div>
  </div>