<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte -El análisis de pigmentos permite establecer una relacion entre el tipo de pintura y el artista.">
    <meta name="keywords" content="analisis de pigmentos, ciencia y forense, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - El análisis de pigmentos es una herramienta importante en la investigación.</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>



<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b> <a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b>
       <a href="<%= baseURL %>/cientifico-y-forense/datacion" title="Edad de arte"> Datación </a><b> ·</b> 
       <a href="<%= baseURL %>/cientifico-y-forense/analisis-de-pigmentos" title="Análisis de pigmentos de arte"> Análisis de pigmentos</a></div>

    <div>
        <h1>Análisis de pigmentos</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        El análisis de los pigmentos es un método científico de dos pasos para determinar después de qué fecha se hicieron o fabricaron los pigmentos que se utilizaron para crear una pintura.

El primer paso consiste en analizar un pigmento para determinar su composición química.

El segundo paso consiste en investigar cuándo se hizo o fabricó por primera vez este tipo concreto de pigmento.

Tomemos el caso del azul de Prusia.

La razón de utilizarlo como ejemplo es que fue el primer color fabricado artificialmente. Se fabricó por primera vez en 1704. Se puso a disposición de los pintores en 1724.

Cuando analizamos químicamente la composición del azul de su cuadro y vemos que coincide con el azul de Prusia, lo que aprendemos es que su cuadro no puede ser anterior a 1724.
Lo que la identificación del pigmento no nos dice es CUÁNDO se pintó el cuadro.

Un factor a tener en cuenta es que un cuadro puede ser más antiguo y haber sido restaurado con Azul de Prusia. Por lo tanto, debemos tener cuidado de comprobar que estamos ante la pintura original y no ante una pintura de restauración aplicada mucho más tarde.

El análisis de los pigmentos por sí mismo no le dirá cuándo se pintó el cuadro, pero le dará una fecha límite. Le dirá cuál es la fecha más temprana en la que podría haber sido pintado.

Si desea identificar y fechar los pigmentos de su cuadro, le ofrecemos nuestros servicios de laboratorio.

        
        
        
    </p>

    </div></div></div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>





</body>
</html>
