<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - Datamos e identificamos el papel utilizado en dibujos e impresos de obras de arte y en litografías.">
    <meta name="keywords" content="analisis del papel, ciencia y forense, cientifico y forense, investigacion forense, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte- Datamos y determinamos el origen del papel. </title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>


 
<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b><a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b> 
       <a href="<%= baseURL %>/cientifico-y-forense/datacion" title="Edad de arte"> Datación </a><b> ·</b> 
       <a href="<%= baseURL %>/cientifico-y-forense/analisis-del-papel" title="Análisis de papel de arte"> Análisis del papel</a></div>

    <div>
        <h1>Análisis del papel</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        El papel que no contiene fibras sintéticas derivadas del petróleo puede datarse con carbono.

Si no está seguro de si contiene fibras sintéticas, será necesario realizar primero un análisis químico.

Si contiene fibras sintéticas significa que el papel fue fabricado después de 1935.

El tamaño de la muestra de papel debe ser de unos 10 a 20 miligramos para la datación por carbono.  Esto es aproximadamente el tamaño de un sello postal estándar.  La forma de la muestra no importa, puede ser una tira larga y fina. 

Si necesita datar papel, póngase en contacto con nosotros y probablemente podremos ayudarle.

Tenga en cuenta que la edad del papel también puede determinarse de otras maneras. 

    </p>

    </div></div></div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>




</body></html>
