<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - Investigar la atribución es una de nuestras especialiades. Aumenta el valor de la pintura.">
    <meta name="keywords" content="autenticacion de obras de arte, atribucion, autenticar, certificacion coa">   
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Las pinturas anónimas pueden ser atribuídas a un artista.</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>



<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
        <a href="<%= baseURL %>/autenticacion" title="Autenticación de arte"> Autenticación </a><b> ·</b> <a href="<%= baseURL %>/autenticacion/atribucion" title="Atribución de obra de arte"> Atribución </a> </div>

    <div>
        <h1>Atribución</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
      Hay casos en los que una pintura, un dibujo, una escultura o cualquier otra obra de arte, es probablemente de un determinado artista porque bastantes pruebas apuntan en esta dirección, pero que al mismo tiempo, algunas consideraciones o hechos contradictorios introducen la duda de que la obra sea de este artista.

En estas situaciones, si los argumentos favorables son sólidos, la obra se suele atribuir al artista, pero de forma que se reconozcan las dudas existentes. <br>

Este reconocimiento de las dudas consiste en describir la obra como "Atribuida a X" en lugar de describirla como "De X".

Esto se hace con la esperanza de que más adelante aparezcan nuevas pruebas que acaben resolviendo el caso. 

Mientras tanto, la obra de arte se denomina "Atribuida a X". <br>

Naturalmente, para el propietario es preferible que la obra de arte se conozca como "Atribuida a X" en lugar de "No es de X" o una variación de la misma.

Ante esta situación, si el peso de las pruebas está a favor de la atribución al artista, también le damos el beneficio de la duda y la describimos como "Atribuida a X". <br>

Evidentemente, las obras de arte "Atribuidas a" tienen un valor sustancialmente mayor que las que se rechazan y, por tanto, esto beneficia mucho a los propietarios.

 
    </p>

    </div>
  </div>
</div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>


</body>
</html>