<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Estos son algunos de los artistas que ya estudiamos y conocemos perfectamente">
    <meta name="keywords"
        content="expertos en arte, expertos en obras de arte, investigacion sobre obra de arte original, certificacion de obras de arte, tasacion de obras de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte, arte latinoamericano, arte español">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">

    <title>Expertos en Arte · Artistas</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-TRT36BXHRM');
    </script>
</head>

<body>

    <div class="sobre-nosotros">

        <div>
            <div class="logo"><a href="<%= baseURL %>/"
                    title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
        </div>
    </div>

    <nav>

        <!-- The overlay -->
        <%- include('./partials/nav-bar.ejs') %>

            <!-- Use any element to open/show the overlay navigation menu -->
            <div class="header-seccion">

                <div class="contenedor-hambu">

                    <div class="hamburguesa" onclick="openNav()">
                        <img src="/public/assets/bars-solid.svg" alt="Barra de navegación"
                            style="width:40px; height:40px">
                    </div>

                    <div class="servicios-titulo">
                        <header class="subseccion-header">
                            <h1>Blog</h1>
                            <p>Indice de Articulos</p>
                        </header>
                    </div>
                </div>
            </div>

            <script src="<%= baseURL %>/javascripts/h5.js"></script>

    </nav>
    </div>
    <div class="container-mw-subseccion">
        <div class="subseccion-menu">
            <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a><b>
                ·</b> <a href="<%= baseURL %>/blog/" title="Blog"> Blog </a>
        </div>

        <div></div>
        <div class="container-i">
            <div class="artist-mw">
                <%= 
                console.log(blogs);
                %>
                here
                <%= (typeof title !="undefined" ? title : "" ) %>
            </div>
        </div>


                    </div>


    </div>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>

</body>

</html>