<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" 
    content="Conocemos y aplicamos todos los métodos, desde algoritmos hasta estudios forenses para autenticar su obra de arte">
    <meta name="keywords" content="investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte, arte latinoamericano, arte español">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">  
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
   
    <title>Expertos en Arte · Científico y forense</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

  <div class="sobre-nosotros">
        
    <div>
<div class="logo-header"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica y todo el mundo">Expertos en Arte</a>
</div>
</div>
 
<nav>
    
<!-- The overlay -->
<%- include('./partials/nav-bar.ejs') %>



<!-- Use any element to open/show the overlay navigation menu -->
 <div class="header-seccion">

  <div class="contenedor-hambu">
    
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
    </div>

  <div class="servicios-titulo">
  <header class="subseccion-header"><h1>Científico y forense</h1>
    <p></p>
  </header>
</div>
  </div>
  </div>

<script src="<%= baseURL %>/javascripts/h5.js"></script>

</nav>
</div>
<!--Cuerpo-->
<main>
  <div class="container-mw-subseccion">
    <div class="subseccion-menu">
      <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a><b> ·</b> <a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense </a></div>

  <div>
    <div class="cuerpo">
        <p>
            Conocemos y ofrecemos todas las técnicas forenses, desde inteligencia artificial hasta algoritmos para certificar sus obras de arte.
        </p>
         
        <div class="leermas">
            <div><img src="<%= baseURL %>/img/web/arrow-right.png" style="width:16px; height: 17,05px" alt="flecha a la izquierda"></div>
            <ul>
                <li><a href="<%= baseURL %>/cientifico-y-forense/pruebas-cientificas" title="Pruebas científicas en obra de arte">Pruebas científicas</a></li>
                <li><a href="<%= baseURL %>/cientifico-y-forense/datacion" title="Fechas de realización de obra de arte">Datación</a>  
                    <ul><li><a href="<%= baseURL %>/cientifico-y-forense/datacion-por-carbono" title="Datación por carbono">Datación por carbono</a></li>
                        <li><a href="<%= baseURL %>/cientifico-y-forense/sobre-la-datacion" title="Datación dendrocronológica">Sobre la datación dendrocronológica</a></li>
                        <li><a href="<%= baseURL %>/cientifico-y-forense/sobre-la-termoluminiscencia" title="Técnica de termoluminiscencia">Sobre la termoluminiscencia</a></li>
                        <li><a href="<%= baseURL %>/cientifico-y-forense/analisis-de-pigmentos" title="Análisis de pigmentos de obra de arte">Análisis de pigmentos</a></li>
                        <li><a href="<%= baseURL %>/cientifico-y-forense/datacion-por-metales" title="Datación de arte por metales">Datación por metales</a></li>
                        <li><a href="<%= baseURL %>/cientifico-y-forense/analisis-del-papel" title="Análisis del papel de arte">Análisis del papel</a></li>
                    </ul>
                
            </li>
                <li><a href="<%= baseURL %>/cientifico-y-forense/estudios-forenses" title="Estudios forenses">Estudios forenses</a>
                <ul>
                     <li><a href="<%= baseURL %>/cientifico-y-forense/firma" title="Investigación de firma de artista">Firma</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/firma-y-caligrafia"  title="Firma y caligrafía de artista">Firma y caligrafía</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/linguistica-forense" title="Investigación forense en arte">Lingüística forense</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/sellos-y-etiquetas" title="Sellos y etiquetas de obras de arte">Sellos y etiquetas</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/sellos" title="Sellos y etiquetas de obras de arte">Sellos</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/tachuelas" title="Investigación de arte por sus tachuelas">Tachuelas</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/montaje-de-bastidores">Montaje de bastidores</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/especies-de-madera">Especies de madera</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/paneles">Paneles</a></li>
                    <li><a href="<%= baseURL %>/cientifico-y-forense/tablas">Tablas</a></li>
                </ul></li>
                <li><a href="<%= baseURL %>/cientifico-y-forense/fotografia-especial" title="Análisis de obra por fotografía">Fotografía especial</a></li>
                <li><a href="<%= baseURL %>/cientifico-y-forense/rayos-x" title="Examinación de obra de arte con rayos X">Examinacion de rayos X</a></li>
            
            </ul>
        </div>
     
 </div>
 </div> 

</main>


<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>

</body>
</html>

