<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - Podemos aconsejarle cuándo, cómo y dónde vender su pintura.">
    <meta name="keywords" content="consejos para la venta, consejos, expertos en arte, vender, arte, vender obra de arte original, venta de obras de arte originales, venta de arte, empresa que venden arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Si desea vender su pintura podemos aconsejarle.</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>



<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
        <a href="<%= baseURL %>/vender" title="Vender obra de arte"> Vender</a><b> ·</b> <a href="<%= baseURL  %>/vender/consejos" title="Consejos para la venta de arte">Consejos para la venta</a></div>

    <div>
        <h1>Consejos para la venta</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        El mercado del arte es amplio y se divide en submercados por países, incluso por regiones y por niveles de precios.

        La primera tarea es determinar qué tipo de cuadro tiene, porque eso le dirá dónde vender. <br>
</p>
        <h2>Pintores de fama internacional</h2>
     <p>  El arte de un artista internacional puede ponerse a la venta en cualquier lugar, pero si se trata de una obra importante o significativa del artista debe ofrecerse en un lugar internacional como Nueva York, Los Ángeles, Londres, Berlín o Hong Kong, dependiendo de lo que sea.
Estos son los centros internacionales de arte actuales. <br></p> 
        <h2>Pintores reconocidos a nivel nacional</h2>
<p>Por lo general, estos cuadros deben comercializarse en el país donde el artista es conocido y respetado, pero hay excepciones.  Por ejemplo, en Cuba no hay mercado de arte.  Si tiene una obra de Mario Carreno, un importante pintor cubano, Cuba sería casi el último lugar donde querría intentar venderla.

    La situación es la misma para los artistas de los países subdesarrollados y los que sufren una depresión económica, disturbios sociales o que están en guerra.  El país del artista sólo es el mejor lugar para vender si hay cierta actividad en el mercado del arte, una prosperidad emergente y un clima social propicio para el coleccionismo de arte.
    
    Si no existen estas condiciones favorables, le irá mejor vendiendo fuera del país del artista.
    </p>
    <h2>Pintor de importancia regional</h2>
    <p>Debe hacer todo lo posible por vender obras de artistas regionales en la región concreta en la que trabajaron y que se muestra en sus cuadros.

        Si tiene un cuadro de un artista tejano muy respetado y sus pinturas se refieren a Texas, no tendría sentido ponerlo a la venta en Chicago o Nueva Inglaterra. Véndelo en Texas, donde tiene seguidores y es conocido y apreciado localmente y donde la gente se relaciona con lo que muestran sus cuadros. 
        </p>

        <h2>Pintor bueno pero desconocido</h2>
<p>Puede que su cuadro no esté firmado o, si lo está, el artista podría ser uno de los muchos que han permanecido en la oscuridad, con apenas una o dos líneas en los diccionarios de arte.

    Algunos de estos cuadros tienen un mérito considerable, pero el mercado del arte no paga por la habilidad y el talento, sino por la fama.
    
    Averigüe cuándo y dónde se ejecutó su cuadro y hágase una idea del mercado del artista, si es que lo hay, antes de decidir dónde y cómo venderlo.
    </p>        
<h2>Pintores insignificantes</h2>
<p>
    Hay decenas de miles de pintores horribles y mediocres. Sus cuadros no van a ninguna parte.

La forma más fácil de deshacerse de estos cuadros es consignarlos a un pequeño subastador local u ofrecerlos en Ebay.

A veces, dependiendo de su situación, una mejor opción es donarlos a una organización de caridad para una deducción de impuestos.

</p>
<h2>Cuándo vender</h2>
<p>El mejor momento para vender arte es el invierno. <br>
    La segunda mejor época para vender arte es a principios de la primavera.  <br>
    La tercera mejor época para vender arte es a finales de otoño. <br>
</p>
<h2>Compradores</h2>
<p>Los compradores que más pagan son las instituciones  <br>
        Los compradores que más pagan son los coleccionistas privados. <br>
        Entre los compradores que pasan desapercibidos se encuentran las agencias gubernamentales, los departamentos estatales y del condado, las sociedades históricas, las bibliotecas y, por supuesto, los museos.  El arte se colecciona en todas partes. El Ejército del Aire de los Estados Unidos de América tiene una colección de arte. También la Armada y el Departamento de Estado, así como todas las mansiones de los gobernadores y los edificios de las legislaturas estatales. <br>
</p>
<div class="ul-vender">
    <h2>Venta de arte 101</h2>
    <ul>
        <li><span>El precio es el factor más importante en la venta de arte. </span></li>
        <li><span>Los precios más altos del artista no influyen en el precio que usted puede obtener.  Como vendedor particular, le irá bien si consigue desde el precio más bajo hasta el precio medio del artista.</span></li>
        <li><span>Es una fantasía común de los vendedores soñar que hay un comprador de arte que se enamorará de su cuadro y pagará un precio irrazonablemente alto por ello.</span></li>
        <li><span>La mayoría de los compradores de arte son cazadores de tesoros, buscan una ganga, arte infravalorado. </span></li>
        <li><span>Las galerías ofrecen condiciones de pago y crédito. Usted no.</span></li>
        <li><span>Las galerías dan períodos de prueba y aceptan devoluciones. Usted no.</span></li>
        <li><span>Las galerías garantizan que el arte es auténtico. Usted no lo hace.</span></li>
        <li><span>Será difícil que venda por tanto como una galería porque no lo hace tan fácil, tan cómodo y tan seguro como lo hace una galería.</span></li>
        <li><span>El arte no se vende rápidamente. Incluso en el caso de las galerías, el volumen de ventas es lento. Todas las galerías que llevan años en el negocio tienen cuadros que han tenido a la venta durante años. </span></li>
        <li><span>Hay excepciones, pero en general no vale la pena restaurar o enmarcar un cuadro. Intente venderlo tal cual. </span></li>
        <li><span>Vender a través de las casas de subastas tiene algunos inconvenientes. Uno de ellos es la incertidumbre. No se sabe cuál será la puja final. </span></li>
        <li><span>Cuando consigna un cuadro en una galería de arte, debe entender que se pone en la posición de un comerciante de arte que sería dueño de un solo cuadro. Puede pasar un tiempo antes de que se venda. Considere que todas las galerías de larga trayectoria tienen algunos cuadros desde hace 25 años, otros desde hace 50 años. De hecho, algunas de las galerías de arte más antiguas tienen cuadros que compraron hace 100 años. No es que estas obras sean de mala calidad. Simplemente no se han vendido todavía.</span></li>
        </ul>
        <p>Esto es todo. Si tiene alguna pregunta, envíenos un correo electrónico o un mensaje desde la página de Contacto y estaremos encantados de asesorarle.</p>
</div>

    </div>
  </div>
</div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>





</body></html>

