<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - Tenemos acceso diario a los archivos y bibliotecas de arte más importantes.">
    <meta name="keywords" content="investigacion documental, expertos en arte, autenticar, obra de arte de artista famoso, artista reconocido, obra de arte original, evaluacion de obras de arte, investigacion sobre obras de arte de artista famoso, validar autenticidad de obra de arte, certificacion coa, certificacion de obras de arte originales"> 
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Documentar la existencia de la pintura es crucial.</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>


  </div>

</div>
<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
      <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a><b> ·</b><a href="<%= baseURL %>/autenticacion" title="Autenticación de obras de arte"> Autenticación </a><b> ·</b> <a href="<%= baseURL %>/autenticacion/investigacion" title="Investigación de arte"> Investigación </a> <b> ·</b> <a href="<%= baseURL %>/autenticacion/documental" title="Investigación documental de obra de arte">Investigación documental </a> </div>

    <div>
        <h1>Investigación documental</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        En el Museo de Orsay de París, que alberga los archivos de todos los grandes impresionistas franceses, somos investigadores autorizados con una asignación diaria de dos horas hasta una fecha ilimitada.

        Somos muy afortunados por haber recibido tanto tiempo. Muchos investigadores esperan durante meses para que se les conceda una pequeña ventana de investigación de unas pocas semanas. 
        
        En este museo, y por ejemplo también en la Biblioteca Kandinsky, en el Centro Pompidou, podemos investigar directamente en los papeles y documentos originales. A diferencia de la consulta de microfilms y libros. Esta es la forma más directa de investigación que existe. Se trabaja rebuscando entre los papeles originales, las cartas, las fotos, en los contenedores de los archivos. 
        
        Las normas de investigación varían de un museo a otro. No es lo mismo en el Frick o en el Morgan de Nueva York, que en la Biblioteca Real de Nápoles (Italia), en el Museo Miró de Mallorca, en el Van Gogh de Holanda o en el Getty de Malibú. 
        
        Lo que debe saber es que somos investigadores autorizados en un gran número de museos y bibliotecas de arte, desde Melbourne, Australia, hasta Caracas, Venezuela, pasando por la Biblioteca de la Universidad de Georgetown, en Washington DC, hasta La Habana, Cuba, y así en unos 15 países. 
        
        Cuando usted contrata a investigadores de arte, su capacidad de investigación es primordial y debe saber que cuando nos contrata a nosotros, contrata a uno de los mayores equipos de investigadores de arte del mundo.
        
        

       
    </p>

    </div></div></div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>

</body>
</html>