<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" 
    content="Expertos en arte -  El examen forense de las cartas, manuscritos o dedicatorias de artistas sirve para la autenticación de pinturas y obras de arte.">
    <meta name="keywords" content="firma y caligrafia, firma, caligrafia, arte, caligrafia de obra de arte, firma de artista, firma de obra de arte original, ciencia y forense, cientifico y forense, investigacion forense, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Determinamos si la escritura del artista es auténtica. </title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>


 
<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b><a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b> 
       <a href="<%= baseURL %>/cientifico-y-forense/estudios-forenses" title="Estudios forenses aplicados a obras de arte"> Estudios forenses</a><b> ·</b>
       <a href="<%= baseURL %>/cientifico-y-forense/firma-y-caligrafia" title="Firma y caligrafía en arte">Firma y caligrafía</a></div>

    <div>
        <h1>Firma y caligrafía</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        Existe la creencia generalizada de que las firmas determinan si un cuadro o un dibujo es auténtico o no.

        Cada semana la gente nos pide que les digamos si una firma es auténtica porque esperan que esto que esto determine si la obra de arte es auténtica.
        
        La realidad es muy distinta. La firma no estaba en el pasado. Sólo hay un Miguel Ángel que está firmado. Leonardo no firmó ninguno de sus cuadros.
        
        Hasta aproximadamente 1950, la mayoría de los artistas firmaban cuando vendían una obra o la entregaban a la galería con la que trabajaban.
        
        La consecuencia era que cada artista tenía cientos o miles de obras en su estudio que no estaban firmadas.
        
        Cuando el artista moría, dejaba todas estas obras sin firmar. Su comerciante o los miembros de su familia las firmaban por él para poder venderlas.
        
        Por esta razón, un gran número de obras auténticas no estaban firmadas por los artistas que las crearon.
        
        Aunque sigue siendo útil comprobar y comparar las firmas, sobre todo en el caso de los artistas activos después de 1950, no es tan crucial como mucha gente cree.
        
        Cuando hay texto, además de la firma, se abre la puerta a comprobar si de la firma, permite comprobar si se trata del puño y letra del artista.
        
        A veces el texto se encuentra en el reverso y ocasionalmente una dedicatoria o algo similar en el anverso.
        Lo que se espera del texto es que sea del artista.
        
        Si desea comprobar la escritura a mano, o averiguar si una firma es posiblemente del artista, ofrecemos nuestros servicios.
        
        Ofrecemos tanto opiniones como exámenes forenses forenses oficiales de firmas y caligrafía.
        
    </p>

    </div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>





</body>
</html>

