<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - Para autenticar pinturas se hace un examen forense de firmas, inscripciones o números.   ">
    <meta name="keywords" content="firma, arte, caligrafia de obra de arte, firma de artista, firma de obra de arte original, ciencia y forense, cientifico y forense, investigacion forense, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Determinamos si la firma del artista es auténtica.</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>


<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b> <a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b> 
       <a href="<%= baseURL %>/cientifico-y-forense/estudios-forenses" title="Estudios forenses aplicados a obras de arte"> Estudios forenses</a><b> ·</b>
       <a href="<%= baseURL %>/cientifico-y-forense/firma" title="Firma de artista">Firma</a></div>

    <div>
        <h1>Firma</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        Las firmas están sobrevaloradas.

Por supuesto, es bonito tener una buena firma del artista, pero ¿qué pasa cuando se muere y deja 1.000 cuadros y dibujos sin firmar en el estudio?

Alguien tiene que firmarlos.

¿Qué pasa cuando el artista es uno de esos perfeccionistas o inseguros que nunca están satisfechos con el resultado final, siempre quieren hacer un pequeño cambio más y se niegan a firmar?  ¿Qué puede hacer su comerciante?  Bueno, en algunos casos, el comerciante imita la firma del artista, para poder vender algunas piezas.

Lo importante es que una mala firma no significa que el cuadro no sea auténtico.

A la inversa, una firma bonita no significa que el cuadro sea auténtico.  

Por lo general, tiene que haber algo más que una firma para confirmar que la obra es auténtica.


    </p>

    </div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>





</body>
</html>

