<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - Tenemos investigadores en America, Europa , Asia y Australia por lo que podemos investigar rápidamente cualquier pintura.">
    <meta name="keywords" content="investigacion, expertos en arte, autenticacion de obras de arte, autenticar, obra de arte de artista famoso, artista reconocido, obra de arte original, evaluacion de obras de arte, investigacion sobre obras de arte de artista famoso, validar autenticidad de obra de arte, certificacion coa, certificacion de obras de arte originales"> 
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - La investigación es esencial en la certificación de pinturas. </title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>



<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
    <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Inicio</a> <b>·</b> <a href="<%= baseURL %>/autenticacion" title="Autenticación de obras de arte"> Autenticación </a><b> ·</b> <a href="<%= baseURL %>/autenticacion/investigacion" title="Investigación de arte"> Investigación </a> </div>

    <div>
        <h1>Investigación</h1>
        <div class="decoration"></div>
        
    </div>
    <div class="investigacion">
    <p>
        La investigación autentifica más cuadros que todos los demás métodos, técnicas y tecnologías de autenticación juntos.

        La cuestión crucial es dónde debe realizarse esta investigación.  En los campos relacionados con la autenticación de obras de arte, aproximadamente el 10% del material está disponible en la web y el 90% restante existe principalmente en papel, microfilm y microficha.
        
        Esto significa que para llevar a cabo una investigación de autenticación hay que tener acceso directo en persona a bibliotecas y archivos. 
        
        Dependiendo del artista o la galería de arte que se esté investigando, la información puede encontrarse en Florencia (Italia), en el Instituto Nazionale di Studi sur Rinascimento, o puede estar en la Biblioteca Pública Süleymaniye de Estambul (Turquía), o en la Biblioteca Bodleian de Oxford (Reino Unido), o en el Museo Nacional de Bellas Artes de Taiwán, o en Moscú, en la Biblioteca Estatal de Arte de Rusia, o puede estar en Ámsterdam, en Madrid, en la Frick de Nueva York o en la Biblioteca de la Universidad de Arte Tama de Tokio.
        
        Este ejemplo ilustra que, a menos que se disponga de una red de investigadores situados en varios países, con acceso autorizado a las bibliotecas y que hablen los idiomas nativos, no se puede realizar una investigación eficiente y productiva sobre la autenticación del arte.
        
        El secreto del gran número de obras de arte que hemos autentificado y de los casos difíciles que hemos resuelto es porque tenemos investigadores de arte que residen en 23 países y que hablamos 21 idiomas.
        
</p></div>
        <div class="lo-que">
         <h2>Lo que investigamos</h2> 
         <div class="decoration"></div>
          <ul><li><span>Firmas</span></li>
          <li><span>Firmas ilegibles</span></li>
          <li><span>Cuadros sin firmar</span></li>
          <li><span>Monogramas</span></li>
          <li><span>Monogramas desconocidos</span></li>
          <li><span>Símbolos</span></li>
          <li><span>Sellos y marcas de colecciones y coleccionistas desde el año 1500</span></li>
          <li><span>Sellos, etiquetas y plantillas encontradas en el reverso de los cuadros</span></li>
          <li><span>Artistas desconocidos</span></li>
          <li><span>Artistas que utilizaron nombres diferentes</span></li>
          <li><span>Biografías de artistas</span></li>
          <li><span>Bibliografías de artistas desde el siglo XVI</span></li>
          <li><span>Exposiciones desde el siglo XVIII</span></li>
          <li><span>Ventas en subastas desde el siglo XVII</span></li>
          <li><span>Otras obras del mismo artista</span></li>
          <li><span>Obras de artistas en museos y colecciones</span></li>
          <li><span>Obras que no tienen historia registrada, ni origen o procedencia documentados</span></li>
          <li><span>Cuadros encontrados o adquiridos en circunstancias o lugares interesantes</span></li>
          <li><span>Cuadros que tienen una tradición familiar de ser de un artista importante</span></li>
          <li><span>Cuadros que nunca han sido investigados</span></li>
          <li><span>Cuadros confundidos con copias cuando en realidad son los originales</span></li>
          <li><span>Cuadros etiquetados como copias que podrían ser originales duplicados</span></li>
          <li><span>Original de un cuadro en museos y colecciones</span></li>
          <li><span>Copias de un cuadro en museos y colecciones</span></li>
          <li><span>Obras relacionadas de otros artistas</span></li>
          <li><span>Obras que pueden haber sido ejecutadas como boceto para un cuadro conocido</span></li>
          <li><span>Juvenalia</span></li>
          <li><span>Obras atípicas</span></li>
          <li><span>Obras inacabadas</span></li>
          <li><span>Cuadros perdidos desde hace tiempo</span></li>
          <li><span>Atribuciones y autenticaciones antiguas</span></li>
          <li><span>Atribuciones dudosas</span></li>
          <li><span>Cuadros rechazados por razones frívolas</span></li>
          <li><span>Autenticaciones denegadas</span></li>
          <li><span>Cuadros declarados como falsos sin ninguna investigación seria</span></li>
          <li><span>Procedencia</span></li>
          <li><span>Historia de la propiedad</span></li>
          <li><span>Fecha o período en que se produjeron las pinturas</span></li>
          <li><span>País o región donde se produjeron las pinturas</span></li>
          <li><span>Escuelas y estilos</span></li>
          <li><span>Ubicación de los paisajes, las ciudades y los lugares emblemáticos representados en los cuadros</span></li>
          <li><span>Identidad de los retratos</span></li>
          <li><span>Naturaleza, ubicación y fecha de los acontecimientos representados</span></li>
          <li><span>Iconografía y alegorías. Leyendas, religiosas, mitológicas, esotéricas, herméticas</span></li>
          <li><span>Restauración que se ha realizado</span> </li>
          <li><span>Modificaciones en el tema, tamaño, o soporte</span></li>
          </ul>
        
        </div>
<p>
  La información aumenta el valor del arte. El dato más importante es, por supuesto, quién lo ha pintado o creado. Esto no es todo. A quién perteneció en el pasado, en qué circunstancias se creó o para quién, qué representa (y esto no siempre es obvio), cuáles son algunos de los elementos de la composición y qué significan, dónde y cuándo se expuso, dónde se ha publicado, la relación del cuadro con otras obras de los mismos artistas o de otros; la importancia histórica o de otro tipo, el mérito artístico, dónde y cómo encaja en la cronología del artista, o en la cronología del arte, todas las respuestas a estas preguntas aumentan la importancia, el significado, la conveniencia y el valor de una obra de arte.
</p>
        <div class="leermas">
            <div><img src="<%= baseURL %>/img/web/arrow-right.png" style="width:16px; height: 17,05px" alt="flecha a la izquieda"></div>
            <ul style="font-family: 'Arial'">
                <li><a href="<%= baseURL %>/autenticacion/documental" title="Investigación documental de arte">Investigación documental</a></li>
                <li><a href="<%= baseURL %>/autenticacion/biografica" title="Investigación biográfica">Investigación biográfica</a></li>
                <li><a href="<%= baseURL %>/autenticacion/robos" title="Robos de obras de arte">Robos</a></li>
                <li><a href="<%= baseURL %>/autenticacion/origen" title="Orígenes de obras de arte">Origen</a></li>
             
            </ul>
        </div>
  

    </div>
  </div>
</div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>




</body></html>