<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - El ensamblado y la construcción de bastidores nos ayuda a identificar su antigüedad y su origen y esto colabora en la autenticación. ">
    <meta name="keywords" content="montaje de bastidores, bastidores, arte, ciencia y forense, cientifico y forense, investigacion forense, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Estudiamos la construcción de bastidores utilizados en las pinturas. </title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
     <div class="logo"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
          </div>
      </div>
      
      <nav>
        <!-- The overlay -->
        <%- include('./partials/nav-bar.ejs') %>
      
      
        </div>
      
      </div>
      <div class="subseccion-header-1">
      <!-- Use any element to open/show the overlay navigation menu -->
      <div class="contenedor-hambu"> 
        <div class="hamburguesa" onclick="openNav()">
          <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
        </div>
      </div>
      <script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b><a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b>
       <a href="<%= baseURL %>/cientifico-y-forense/estudios-forenses" title="Estudios forenses aplicados a obras de arte"> Estudios forenses</a><b> ·</b>
       <a href="<%= baseURL %>/cientifico-y-forense/montaje-de-bastidores" title="Montaje de bastidores en arte">Montaje de bastidores</a></div>

    <div>
        <h1>Montaje de bastidores</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        La ebanistería es un antiguo oficio de la madera y la ebanistería, hasta el punto de que los ebanistas siempre han sido un grupo separado y especializado, aparte de los carpinteros y torneros. 

La forma de unir piezas de madera para crear los bastidores utilizados para tensar el lienzo con el fin de pintar sobre él data aproximadamente del año 1500.  Antes de eso, no se utilizaba el lienzo tensado.  En su lugar, las pinturas se realizaban sobre paredes, paneles de madera, láminas de cobre, láminas de piedra de pizarra, cuero pegado o clavado a los paneles frontales de los muebles.

Con el tiempo, la ebanistería evolucionó y estudiando cómo se unen los bastidores se pueden datar.

Además, los usos y tradiciones locales y regionales dieron lugar a diferentes tipos de uniones y permiten localizar dónde se construyeron las camillas.

Si desea identificar cuándo y dónde se construyeron y unieron los bastidores de su cuadro, póngase en contacto con nosotros, probablemente podremos ayudarle.

</p>


    </div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>


</body>
</html>

