<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en Arte es una empresa especializada en autenticación y valoración de obras de arte. Certificamos, valuamos, vendemos obras de arte originales de artistas reconocidos.">
    <meta name="keywords" content="Ultimas noticias sobre el mundo del arte">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
   
    <title>Expertos en Arte · Noticias</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

  <div class="sobre-nosotros">
        
    <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
      </div>
      </div>
       
      <nav>
          
      <!-- The overlay -->
      <%- include('./partials/nav-bar.ejs') %>
      
      
      
      <!-- Use any element to open/show the overlay navigation menu -->
       <div class="header-seccion">
      
        <div class="contenedor-hambu">
          
        <div class="hamburguesa" onclick="openNav()">
          <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
          </div>
      
        <div class="servicios-titulo">
        <header class="subseccion-header"><h1>Noticias</h1>
          <p></p>
        </header>
      </div>
        </div>
        </div>
      
      <script src="<%= baseURL %>/javascripts/h5.js"></script>

</nav>
</div>
<!--Cuerpo-->
<main>
  <div class="container-mw-subseccion">
    <div class="subseccion-menu">
      <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a><b> ·</b> <a href="<%= baseURL %>/noticias" title="Noticias de arte"> Noticias </a> </div>

  <div>
    <div class="cuerpo">
        <p>
            

        </p>
        <div class="leermas">
            <div><img src="<%= baseURL %>/img/web/arrow-right.png" style="width:16px; height: 17,05px" alt="flecha a la izquieda"></div>
            <ul>
       <li>Noticia</li>
            </ul>
        </div>
 </div>
 </div> 

</main>


<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>

</body>
</html>

