<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte -  Aquí puede ver las respuestas a algunas preguntas frecuentes.  También puede enviarnos un correo electrónico o un mensaje de texto utilizando el formulario de contacto.">
    <meta name="keywords" content="preguntas frecuentes, expertos en arte, expertos en obras de arte, investigacion sobre obra de arte original, certificacion de obras de arte, tasacion de obras de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte, arte latinoamericano, arte español">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
   
    <title>Expertos en arte - Lea aquí las respuestas a sus preguntas.</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

  <div class="sobre-nosotros">
        
    <div>
<div class="logo-header"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica y todo el mundo">Expertos en Arte</a>
</div>
</div>
 
<nav>
    
<!-- The overlay -->
<%- include('./partials/nav-bar.ejs') %>



<!-- Use any element to open/show the overlay navigation menu -->
 <div class="header-seccion">

  <div class="contenedor-hambu">
    
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
    </div>

  <div class="servicios-titulo">
  <header class="subseccion-header"><h1>Preguntas frecuentes</h1>
    <p></p>
  </header>
</div>
  </div>
  </div>

<script src="<%= baseURL %>/javascripts/h5.js"></script>

</nav>
</div>
<!--Cuerpo-->
<main>
  <div class="container-mw-subseccion">
    <div class="subseccion-menu">
      <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a><b> ·</b> <a href="<%= baseURL %>/preguntas-frecuentes" title="Preguntas frecuentes"> Preguntas frecuentes </a></div>

  <div>
    <div class="cuerpo">
        <p>
            <span> ¿Necesitan ver mi obra de arte?</span> <br>

            Sí, pero no siempre o no necesariamente en persona.  También se puede examinar a partir de fotos o con vídeo en streaming. <br>
            
            <span>Para la autenticación o la tasación del valor, ¿tengo que enviarles la obra? </span>  <br>
            
            No. Lo examinaremos a partir de fotos, o con vídeo en streaming, o en su ubicación, o en un almacén de arte seguro. <br>
            
            <span>¿Cómo pueden hacer esto sin verlo en persona?</span>  <br>
            
            La fotografía es extremadamente poderosa.  Le diremos qué tipo de fotos necesitamos y éstas mostrarán todo lo que necesitamos ver.  Examinamos las fotos en monitores de 50 pulgadas/127 cm y podemos ampliar los detalles más pequeños. 
            
            La transmisión de vídeo también permite un examen de buena calidad. <br>
            
            <span>¿Realizan ustedes pruebas científicas?</span> <br>
            
            Realizamos todas las pruebas que son útiles o necesarias para el tipo concreto de pintura u obra de arte que estamos autentificando. <br>
            
            <span>¿Cuáles son sus credenciales?  ¿Qué les convierte en autoridad?</span> <br>
            
            Doctorado y máster en historia del arte. 20 años de experiencia en autenticación. Especialistas ubicados en 23 países.  Dominio de 21 idiomas.  Miles de obras de arte autentificadas.  Impecable reputación de competencia e integridad.  Larga lista de clientes institucionales, desde bancos y seguros hasta cuerpos de seguridad. <br>
            
            <span>¿Me dirán si vale la pena seguir adelante después de recibir las fotos?</span>  <br>
            
            Proporcionamos opiniones iniciales en un par de días. <br>
            
            <span>¿Cómo se determina si es auténtico?</span> <br>
            
            Utilizamos todos los métodos, técnicas y tecnologías disponibles. Investigamos en cualquier parte del mundo donde se encuentre la información crucial.  Utilizamos ampliamente los estudios forenses. <br>
            
            <span> ¿Qué es un COA?</span> <br>
            
            Es un certificado de autenticidad.  Se emite una vez que se ha completado el trabajo de autenticación y se ha confirmado que la obra de arte es auténtica.  Se entrega junto con el largo informe de autenticación. <br>
            
            <span> ¿Qué es la procedencia? </span> <br>
            
            Es la lista de los propietarios de la obra de arte, desde el momento de su creación hasta la actualidad. <br>
            
            <span> ¿Es necesario tener la procedencia? </span> <br>
            
            No, las obras de arte pueden ser autentificadas por muchos otros métodos. <br>
            
            <span> ¿Cuál es el proceso de autenticación? </span> <br>
             
            No es igual para todas las obras de arte, pero siempre comienza con fotos, vídeos o con una cita para examinar la obra de arte. <br>
            
            El segundo paso suele ser averiguar todo lo que se sabe sobre ella.  Algunos propietarios tienen papeles, documentación. <br>
            
            El tercer paso es calcular la mejor manera de autentificar la obra de arte y el costo de la misma. <br>
            
            El cuarto paso depende de lo que se haya decidido previamente. Pueden ser algunas pruebas, o una fotografía especial, o un trabajo de análisis, o una investigación. <br>
            
            El quinto paso es la entrega del informe de autenticación y, si todo ha ido bien, del Certificado de Autenticidad (COA). <br>
            
            <span>¿Cuál es la importancia de la firma?</span> <br>
            
            La contribución más importante de la firma es que indica quién se supone que ha creado esta obra de arte.  Proporciona un punto de partida claro y bueno. <br>
            
            Más allá de eso, las firmas están sobrevaloradas.  Una mala firma no significa que la obra no sea auténtica y una buena firma no significa que sea auténtica. <br>
            
            <span> ¿Es importante que una obra esté firmada? </span> <br>
            
            Sí, porque indica quién puede haberla creado.  Además, a la gente le gustan los nombres y las firmas, por eso los diseñadores escriben sus nombres en todas partes. <br>
            
            <span> ¿Y si no está firmada?</span> <br>
             
            Significa que tendremos que pasar algún tiempo intentando averiguar cuándo se creó, dónde y, con suerte, por quién. <br>
            
            <span> ¿Cuáles son las razones por las que se rechazan los cuadros? </span> <br>
            
            Las dos razones principales son A) Que no es del artista y B) Que no se ha hecho ningún esfuerzo por investigar, comprobar en profundidad, indagar o comprobar si es auténtico. <br>
            
            <span> ¿Con qué frecuencia se descubren nuevos cuadros u obras de arte importantes? </span> <br>
            
            Ocurre constantemente. Ocurre todo el tiempo.  Difícilmente se puede abrir el catálogo de una subasta de las próximas ventas de arte sin encontrar nuevos descubrimientos. <br>
            
            Sigue habiendo mucho arte en familias, cajas fuertes de bancos y lugares inesperados. <br>
            
            <span>¿Sus autenticaciones son aceptadas por las mayores casas de subastas, por los museos y por los coleccionistas importantes? </span>	<br>
            
            Sí.  Todos ellos son o han sido clientes nuestros.  Hemos trabajado para importantes casas de subastas.  Han vendido muchas obras que hemos autentificado para nuestros clientes.  También hemos trabajado para museos y con frecuencia autentificamos para importantes coleccionistas privados. <br>
            
            La razón principal por la que se aceptan nuestras conclusiones es que aportamos pruebas, evidencias, referencias, hechos, que demuestran que la obra de arte es auténtica.  <br>
            
            No damos opiniones, presentamos datos. <br>
            
            <span>¿Trabajan ustedes con fundaciones o comités?</span>  <br>
            
            Hay un montón de fundaciones y comités.  Esto se ha convertido en un negocio y una industria en sí misma.  Todos los artistas que se puedan imaginar tienen ahora un grupo de personas que supuestamente se ocupan de su "legado". <br>
            
            Las fundaciones de artistas son como las personas.  Algunas son amables y cuando les pedimos que revisen algo para nosotros, responden y ayudan.  Luego están las fundaciones poco amistosas e incluso litigiosas.  <br>
            
            Algunas fundaciones están bien organizadas y se toman en serio el negocio de autentificar y lo hacen de forma muy competente.  Muchas otras, por desgracia, están dirigidas por personas que no tienen ningún conocimiento, ninguna formación, sobre la autenticación del arte y, a menudo, ni siquiera tienen formación en historia del arte. <br>
            
        </p>

 </div>
 </div> 
 
</main>


<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>

</body>
</html>

