<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte -  En la autenticación de pinturas usamos rayos X para observar qué hay debajo de la superficie .">
    <meta name="keywords" content="examinacion de rayos x, rayos x, arte, investigacion forense, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte -Para complementar la autenticación de pinturas podemos examinarlas con rayos X.</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>



<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b><a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b> <a href="<%= baseURL %>/cientifico-y-forense/rayos-x" title="Examinación de arte con rayos x">Examinación de rayos X</a></div>

    <div>
        <h1>Examinación de rayos X</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        ¿Tiene un cuadro valioso? Quizá sea lo que no se ve lo que lo hace valioso. <br>

        El uso de los rayos X se ha convertido en una práctica habitual entre los autentificados de arte. No sólo devela los secretos que hay debajo de los cuadros, sino que ayuda a establecer su autenticidad. Los tipos de papel, los materiales, los bocetos preparatorios, los cambios en la composición y otros indicios pueden descubrirse mediante el uso de una radiografía para demostrar la naturaleza y el origen de un cuadro. <br>
        
        Los rayos X también pueden utilizarse para detectar rastros de minerales y otros elementos en la pintura. Estos rastros pueden ser pistas sobre cuándo se ejecutó el cuadro y dónde. 
        
        Mientras que los exámenes con rayos ultravioleta pueden realizarse en la propia empresa, la fotografía de rayos X de alta intensidad debe realizarse en el laboratorio.
        
        Los autenticadores de arte llevan más de 100 años utilizando los rayos X para identificar y autenticar pinturas. El primer uso documentado de los rayos X en la autenticación de obras de arte tuvo lugar en 1896 en Frankfurt (Alemania).
        
        ¿Cómo funcionan los rayos X en el mundo de la autenticación de obras de arte? En realidad es un proceso sencillo. <br>
        
        Si alguna vez le han hecho una radiografía en la consulta del médico, ya tiene una idea básica de cómo funcionan; los rayos X se utilizan para ver diferentes capas del cuerpo que no se pueden ver a simple vista.
        
        Hay dos tipos de rayos X utilizados en la autenticación del arte: la estereorradiografía, que funciona de la misma manera que los rayos X médicos, y la autorradiografía, que utiliza partículas beta. Cada tipo de radiografía puede mostrar cosas diferentes en un cuadro que de otro modo no se verían. <br>
        
        Al igual que en la consulta del médico, los rayos X pueden ver a través de diferentes capas, pero en lugar de la carne estos rayos X ven diferentes capas de pintura. Las radiografías pueden mostrar dónde se han hecho retoques o dónde se ha pintado encima. <br>
        
        Para crear una nueva imagen de las capas del cuadro, los rayos atraviesan la pintura y crean un negativo de las zonas mas oscuras en la película. Piensa en ello como una fotografía invertida. Una vez que los rayos atraviesan el cuadro, pueden verse las antiguas capas de pintura y puede comenzar la investigación. ¿Es esto coherente con la preparación y el método de pintura conocidos del artista? ¿Son las composiciones ocultas similares al estilo que utilizó el artista?
        
        El tiempo también es un elemento que los radiógrafos utilizan para hacer exposiciones de rayos X. De la misma manera que se puede infraexponer o sobreexponer la película en una cámara, lo mismo puede decirse de los rayos X. Los radiógrafos utilizan una exposición corta a los rayos X para mostrar las capas más profundas. Cuanto más larga sea la exposición, más superficial será la radiografía. <br>
            
        Mediante una combinación de análisis morelliano, investigación documental y exámenes radiográficos, los autenticadores pueden determinar si un cuadro es el artículo genuino. Por ejemplo, es bien sabido que la mayoría de los artistas reciclaban sus lienzos. Pintar sobre un cuadro rechazado era una práctica habitual. Un autenticador de arte se sentiría atraído por la ausencia de bocetos, modificaciones (pentimenti) o cualquier otra cosa debajo de la superficie de un cuadro. Sin embargo, algunos pintores no preparaban ningún boceto. Sin embargo, en general, una composición perfecta puede indicar que el cuadro es un duplicado o una copia. <br>
            
        Un autenticador educado con un ojo muy entrenado puede distinguir estilos y métodos con el uso de rayos X. <br>
        
        Son especialmente útiles para examinar pinturas sobre tabla (madera).
        
        Desde las radiografías y otras tecnologías forenses hasta el análisis comparativo sistemático, pasando por la investigación de archivos, utilizamos todas las herramientas y métodos disponibles para autenticar.
        
</p>


    </div>
  </div>
</div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>

</body>
</html>

