<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" 
    content="Expertos en arte - Utilizamos métodos forenses para determinar la autenticidad de sellos, etiquetas, plantillas o adhesivos en el revés de la obra.">
    <meta name="keywords" content="sellos y etiquetas, arte, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Determinamos de manera forense la autenticidad de sellos en el dorso de la pintura. </title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
     <div class="logo"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
          </div>
      </div>
      
      <nav>
        <!-- The overlay -->
        <%- include('./partials/nav-bar.ejs') %>
      
 
      <div class="subseccion-header-1">
      <!-- Use any element to open/show the overlay navigation menu -->
      <div class="contenedor-hambu"> 
        <div class="hamburguesa" onclick="openNav()">
          <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
        </div>
      </div>
      <script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b><a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b>
       <a href="<%= baseURL %>/cientifico-y-forense/estudios-forenses" title="Estudios forenses aplicados a obras de arte"> Estudios forenses</a><b> ·</b>
       <a href="<%= baseURL %>/cientifico-y-forense/sellos-y-etiquetas" title="Sellos, etiquetas y marcas en arte">Sellos, etiquetas y marcas</a></div>

    <div>
        <h1>Sellos, etiquetas y marcas</h1>
        <div class="decoration"></div>
        
    </div>
    <p>

<i> Desnudo, Miguel Ángel </i>

En la época en que los grandes coleccionistas tenían miles de pinturas, dibujos y grabados, ponían un sello, una estampilla o una marca en cada pieza de su colección.

Lo mismo se hacía en las colecciones de la realeza.

A veces se añadía un número de inventario o de colección.

Estas marcas de colección han sido registradas. Hay miles de ellas. Investigadores como Frits Lugt pasaron décadas copiando, identificando y enumerando estos sellos de colección. 

Cuando un cuadro, un dibujo o un grabado lleva una de estas marcas, significa que en algún momento estuvo en una colección importante o en una casa real.

Muchas de estas colecciones y posesiones reales están bien documentadas en antiguos archivos y documentos históricos, y a menudo proporcionan información sobre dónde y cuándo se adquirieron las piezas, quién las ejecutó si no están firmadas, y a veces información adicional como el título o la fecha de creación.

Estas marcas son la prueba de que una obra de arte existió en el pasado y pueden sustituir por sí solas la necesidad de investigar su procedencia.

Por estas razones, los sellos y las marcas son extremadamente útiles debido a toda la información adicional que puede derivarse de ellos.

Incluso en ausencia de registros de inventarios antiguos o de archivos reales, añade valor a una obra de arte el hecho de que haya pertenecido a una colección prestigiosa, a una colección real o a la casa de un personaje destacado o histórico.

Muchas de estas marcas son pequeñas, están borradas, descoloridas y son difíciles de leer e identificar con precisión. Los sellos de cera están resecos, descoloridos, fracturados y a menudo les faltan partes. La forma de tratarlos es tomar fotos de cerca y ampliarlas en tamaño super. A continuación, se puede utilizar un software de procesamiento de imágenes para mejorar el contraste, el brillo, la intensidad o dibujar los contornos, en un esfuerzo por descifrarlos.

Una vez hecho esto, se trata de localizar la marca o el sello en los libros de referencia y luego investigar lo que se sabe sobre la colección a la que pertenecía.

No siempre es posible identificar al artista a partir de un sello, una marca o una estampilla, pero al menos proporciona un punto de partida sólido con una fecha y una ubicación de la colección, si es que está registrada.

    </p>

    </div>
  </div>
</div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>

</body>
</html>

