<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" 
    content="Expertos en arte - Si nos envia una muestra del tamaño de un alfiler dataremos su cerámica.">
    <meta name="keywords" content="sobre la termoluminiscencia, termoluminiscencia, arte, investigacion forense, investigacion sobre obra de arte original, expertos en arte, estudios forenses sobre obra de arte, especialistas en obras de arte de artistas famosos, artistas reconocidos, obra de arte original, tecnicas de investigacion de obras de arte, autenticar obras de arte, investigar edad de obra de arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - La termoluminiscencia  es el mejor método para datar cerámica.</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
     <div class="logo"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
          </div>
      </div>
      
      <nav>
        <!-- The overlay -->
        <%- include('./partials/nav-bar.ejs') %>
      

      <div class="subseccion-header-1">
      <!-- Use any element to open/show the overlay navigation menu -->
      <div class="contenedor-hambu"> 
        <div class="hamburguesa" onclick="openNav()">
          <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
        </div>
      </div>
      <script src="<%= baseURL %>/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
       <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a> ·</b>  <a href="<%= baseURL %>/cientifico-y-forense" title="Ciencia y estudios forenses de arte"> Científico y forense</a><b> ·</b> 
       <a href="<%= baseURL %>/cientifico-y-forense/datacion" title="Edad de arte"> Datación </a><b> ·</b> 
       <a href="<%= baseURL %>/cientifico-y-forense/sobre-la-termoluminiscencia" title="Sobre la termoluminiscencia"> Sobre la termoluminiscencia</a></div>

    <div>
        <h1>Sobre la termoluminiscencia</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        La termoluminiscencia es un proceso científico para datar la cerámica y cualquier cosa hecha de
        arcilla que haya sido cocida.
        
        La termoluminiscencia proporciona la última fecha de cocción y, por supuesto, sólo hubo
        una sola cocción, a no ser que la pieza haya sufrido un incendio o la explosión de un volcán.
        
        Además de las antigüedades, muchos artistas produjeron piezas de cerámica. Luca della Robbia, Picasso, Miró, Dalí, Suetin son algunos de ellos.
        
        Todo lo que se necesita para la datación termoluminiscente es una pequeña muestra de cerámica.
        
        Si necesita una datación termoluminiscente, háganoslo saber.
        
        
        
    </p>

    </div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>

</body>
</html>

