<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte - La valoración de obras de arte requiere de tasadores conocedores de historia de arte y del mercado de arte">
    <meta name="keywords" content="expertos en arte, tasadores de arte, tasar obra de arte, tasacion de obra de arte, valoracion de obra de arte, monto aproximado que puede valer una obra de arte original, expertos en obras de arte, especialistas en obras de arte de artistas famosos, valor de obras de artistas reconocidos, arte latinoamericano, arte español">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Hacemoso una tasación del valor de toda obra de arte.</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

  <div class="sobre-nosotros">
        
    <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
      </div>
      </div>
       
      <nav>
          
     <!-- The overlay -->
     <%- include('./partials/nav-bar.ejs') %>



<!-- Use any element to open/show the overlay navigation menu -->
 <div class="header-seccion">
          
            <div class="contenedor-hambu">
              
            <div class="hamburguesa" onclick="openNav()">
              <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
              </div>
          
            <div class="servicios-titulo">
            <header class="subseccion-header"><h1>Tasación del valor</h1>
              <p></p>
            </header>
          </div>
            </div>
            </div>
          
          <script src="<%= baseURL %>/javascripts/h5.js"></script>

</div>
<!--Cuerpo-->
<main>
  <div class="container-mw-subseccion">
    <div class="subseccion-menu">
      <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a><b> ·</b> <a href="<%= baseURL %>/tasacion-del-valor" title="Peritaje de arte"> Tasación del valor </a></div>

  <div>
    <div class="cuerpo">
        <p>
          Una buena tasación no consiste simplemente en buscar en cuánto se han vendido las obras de este artista en el pasado.

          Este es, por desgracia, el método de tasación simplista que utilizan la mayoría de los tasadores.  La razón es que es fácil convertirse en tasador, llamarse tasador.
          
          En la mayoría de los países, no hay ningún requisito de formación.  No es necesario obtener un título universitario en historia del arte.
          
          No es necesario trabajar durante varios años en una casa de subastas o en una empresa de tasación bien establecida, antes de poder llamarse tasador.
          
          La tasación de arte es una profesión no regulada en la mayoría de los lugares.
          
          El resultado es que se producen muchísimas tasaciones incompetentes e incorrectas.
          
          La mayoría de los tasadores sin formación no tienen en cuenta factores extremadamente importantes:
          
          El primero es la calidad artística de la obra.  Lo que hace que el arte sea valioso es su calidad artística.  Por eso, de dos obras del mismo artista una puede tener un valor de 100.000 dólares y la siguiente un valor de 5 millones de dólares.  La diferencia entre ambas es la calidad artística, el mérito artístico, el nivel artístico.
          
          Para saber esto, habría que estudiar la apreciación del arte y la historia del arte durante muchos años, y la mayoría de los tasadores no tienen estudios universitarios y luego se forman adecuadamente durante varios años.
          
          Otro factor importante en relación con el valor es la cantidad de restauración que se ha realizado.  Considere que si el 40% de un cuadro ha sido repintado por un restaurador, entonces el 40% del cuadro es obra del restaurador.  No es obra del artista.
          
          Por esta razón, un cuadro que no ha sido restaurado es mucho más valioso que otro similar que ha sido objeto de una amplia restauración.
          
          Hay muchas otras cosas que los malos tasadores sin formación no saben. 
          
          Si necesita una tasación de valor por razones fiscales, para la distribución de la herencia, para el seguro, para un divorcio, o porque quiere vender, le recomendamos encarecidamente que utilice los servicios de nuestros tasadores de arte altamente educados, altamente capacitados y con gran experiencia.
          
          No deje que los ignorantes decidan cuánto vale realmente su arte.
          <br> </p>
         
          <div class="lo-que">
            <p><b> Tasamos el valor de pinturas, dibujos, acuarelas, grabados de arte, esculturas, bronces y otras obras de arte para:</b></p>
          <ul><li> <span>
           Compañías de seguros</span></li>
          <li><span>Herencias</span></li>
          <li><span>Planificadores financieros</span></li>
         <li><span> Contables</span></li>    
      <li><span>Bancos</span> </li>
      <li><span> Compañías de préstamos</span></li>
      <li><span> Impuestos</span></li>
      <li><span>Compradores</span> </li>
      <li><span>Vendedores</span> </li>
      <li><span> Cobradores</span></li>
      <li><span> Inversores</span></li>
      <li><span>Especuladores</span> </li>
      <li><span> Bufetes de abogados</span></li>
      <li><span> Departamentos y organismos policiales</span></li>
      <li><span>Agentes de aduanas y fronteras</span> </li> 
  </ul>
</div>
          
          
          
          


     
 </div>
 </div> 
</main>
<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>

</body>
</html>

