<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte -  Todos estos comentarios no fueron solicitados.  Es la opinión que, por propia iniciativa, nos han enviado nuestros clientes.">
    <meta name="keywords" content="autenticacion de obras de arte, como autenticar una obra de arte de artista famoso, artista famoso, obra de arte de artista famoso, evaluacion de obras de arte, investigacion sobre obras de arte de artista famoso, autenticar obras de arte, validar autenticidad de obra de arte, certificacion coa, arte latinoamericano, certificacion de obras de arte originales">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
   
    <title>Expertos en arte - Aquí puede ver que opinan de nosotros.</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

  <div class="sobre-nosotros">
        
    <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
      </div>
      </div>
       
      <nav>
          
      <!-- The overlay -->
      <%- include('./partials/nav-bar.ejs') %>
      
      
      
      <!-- Use any element to open/show the overlay navigation menu -->
       <div class="header-seccion">
      
        <div class="contenedor-hambu">
          
        <div class="hamburguesa" onclick="openNav()">
          <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
          </div>
      
        <div class="servicios-titulo">
        <header class="subseccion-header"><h1>Testimonios</h1>
          <p></p>
        </header>
      </div>
        </div>
        </div>
      
      <script src="<%= baseURL %>/javascripts/h5.js"></script>

</nav>
</div>
<!--Cuerpo-->
<main>
  <div class="container-mw-subseccion">
    <div class="subseccion-menu">
      <a href="<%= baseURL %>/" title="Expertos en Arte en España, Latinoamerica y todo el mundo"> Inicio </a><b> ·</b> <a href="<%= baseURL %>/testimonios" title="Testimonios de nuestros clientes"> Testimonios </a> </div>

  <div>
    <div class="cuerpo">
        <p>
          <q>Quiero agradecer enormemente por los informes. Quedamos muy impresionados por la investigación, tan bien informada y científicamente preparada.</q> <br>
          Jaime <br>
          <br>
          <q>Gracias por la rápida y minuciosa autenticación de mi litografía.</q> <br>
          María <br>
          <br>
         <q>Les agradezco mucho por su informe tan útil.</q><br>
          Juan <br>
          <br>
        <q>
          <i> Excellent. Thank you very much. Quality services like yours is hard to find. 
          Regards,</i>  <br>
          Excelente. Muchísimas gracias. Los servicios de calidad como el de ustedes son difíciles de encontrar.</q><br>
          American Modern Insurance Group<br>
          <br>
          <q>¡Hermoso informe! Muy bien hecho. Una lectura realmente interesante. Gracias por la rigurosa investigación.</q> <br>
          Manuel <br>
          <br>
          
          <q>Muchas gracias por el informe. A pesar de la noticia, agradecemos la profesionalidad dentro de ella. <br>
            Sinceramente</q><br>
            XXXXX, <br>
            Especialista en antigüedades y artes decorativas. <br>
          <br>

          <q><i>I recently had a Hudson River style painting analyzed by ExpertosenArte.org. Although my painting could not be attributable to the artist I was suspecting, I have to say hands down that I had a 5-star experience and certainly felt the investment for review was well spent. My primary contact, Ms. Nadine Hope (Washington DC Representative), was exceptional throughout the entire process. She has a phenomenal “web side manner” and made a digital experience feel completely personal. Nadine was in constant contact with me, shared her research progress, asked further questions, and provided me with regular updates; all of which frankly was not expected and highly appreciated. I have personal experience in digital web-based services and founded a national telemedicine company. I am acutely aware of the challenges in offering online professional services particularly related to customer service
            and consumer satisfaction. Nadine of ArtExpert’s checks all of the boxes pertaining to professionalism, scholarly work, customer service, friendliness, and thoroughness. ArtExperts is represented extraordinarily well by having Nadine on the team and I would recommend this service to anyone interested in having their artwork reviewed.</i> <br>
            Recientemente tuve una pintura del estilo de la escuela del Río Hudson analizada por ExpertosenArte.org. Aunque mi pintura no podía atribuirse al artista del que sospechaba, tengo que decir sin lugar a dudas que la experiencia tiene 5 estrellas. Siento reamente que invertir en la revisión valió la pena. Mi contacto principal, Sra. Nadine Hope (Representante de Washington DC), fue excepcional durante todo el proceso. Ella tiene un fenomenal manejo de internet, e hizo que la experiencia digital se sintiera completamente personal. Nadine estuvo en constante contacto conmigo, compartió el progreso de su investigación, hizo más preguntas y me proporcionó actualizaciones periódicas; todo lo cual, francamente, no lo esperaba y lo agradezco. Tengo experiencia en servicios digitales a través de internet, fundé una empresa nacional de telemedicina. Soy consciente de los desafíos a la hora de ofrecer servicios profesionales en línea, particularmente relacionados con el servicio al cliente y satisfacción del consumidor. Nadine de Expertos en Arte marca todas las casillas relacionadas con el profesionalismo, trabajo académico, servicio al cliente, amabilidad y minuciosidad. Expertos en Arte está representado extraordinariamente bien al tener a Nadine en el equipo. Recomendaría este servicio a cualquier interesado en revisar su obra de arte.</q><br>
            Mark P Seraly MD <br>
            <br>
            <q>¡Fueron tremendos! Muchas, muchas gracias.</q> <br>
            Carmen <br>
          <br>

        </p>
       
 </div>
 </div> 

</main>


<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>

</body>
</html>

