<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Expertos en arte -  Para vender pintura ofrecemos un servicio de venta de corretaje a compradores privados, inversores, coleccionistas, museos, sociedades históricas y a muchos otros compradores">
    <meta name="keywords" content="venta de corretaje, corretaje de arte, expertos en arte, vender, venta de obras de arte originales, arte, empresas que venden arte">
   
 <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="stylesheet" href="<%= baseURL %>/css/artistas.css">
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>/assets/favicon.ico">
    <link rel="stylesheet" href="<%= baseURL %>/css/h5.css">
    <title>Expertos en arte - Si quiere vender su pintura, nosotros actuaremos como su agente de venta. </title>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRT36BXHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TRT36BXHRM');
</script>
</head>
<body>

    <div class="sobre-nosotros">
        
        <div>
 <div class="logo"><a href="<%= baseURL %>/" title="Expertos de Arte en España, Latinoamérica, y todo el mundo">Expertos en Arte</a></div>
    </div>
</div>

<nav>
  <!-- The overlay -->
  <%- include('./partials/nav-bar.ejs') %>


  </div>

</div>
<div class="subseccion-header-1">
<!-- Use any element to open/show the overlay navigation menu -->
<div class="contenedor-hambu"> 
  <div class="hamburguesa" onclick="openNav()">
    <img src="/public/assets/bars-solid.svg" alt="Barra de navegación" style="width:40px; height:40px">
  </div>
</div>
<script src="/javascripts/h5.js"></script>
</div>
</nav>

<!--fin de header-->

    <div class="container-mw-subseccion">
    <div class="subseccion-menu">
        <a href="<%= baseURL %>/vender" title="Vender obra de arte"> Vender</a><b> ·</b> <a href="<%= baseURL %>/vender/venta-de-corretaje" title="Venta de corretaje de arte">Venta de corretaje</a></div>

    <div>
        <h1>Venta de corretaje</h1>
        <div class="decoration"></div>
        
    </div>
    <p>
        Vender arte es difícil, lleva meses y es mucho trabajo. <br>

        Si está acostumbrado a negociar acciones con un par de clics desde su teléfono, se va a llevar una sorpresa brutal cuando decida vender un cuadro o alguna otra obra de arte. <br>
        
        Por eso, si no tiene tiempo o ganas de meterse en la venta de arte, nosotros nos ofrecemos a hacerlo por usted. <br>
        
        Podemos organizar ventas de coleccionistas privados, ventas de tratados privados en museos, transacciones a medida de colecciones corporativas, acuerdos de ventas gubernamentales e institucionales, ventas abiertas.
        
        Hablemos de ello, confidencialmente, cuando y donde quiera.   <br>
        
        Si quiere que nos encarguemos de la venta completamente por usted, de principio a fin, de la A a la Z, para que no tenga que hacer nada en absoluto, nos encargaremos por completo. <br>
        
</p>
        <h2>INICIADOS</h2>
        <div class="decoration"></div>
     <p>  Todos sabemos que los museos compran cuadros, y los coleccionistas privados, y los inversores en arte.  Naturalmente, todos sabemos también que el arte se puede vender a través de subastas, en línea y de forma privada. <br>

        Lo que no es tan conocido es que hay otros compradores, otras categorías de compradores.   Compradores que cuentan con una buena financiación y pagan millones de dólares, cuando quieren, por un arte que desean poseer. <br>
        
        Hay al menos cuatro categorías principales de compradores.  Compradores de los que casi nunca se oye hablar.  Son el mercado de los iniciados.  Operan sobre todo por debajo de la superficie de lo que se ve cuando se observa el mercado del arte. <br>
        
        Tal vez usted posea una obra de arte que podría venderse por un precio más alto en el mercado de iniciados que en cualquier otro lugar o a cualquier otra persona. <br>
        
        Si el mercado de iniciados le interesa, le ofrecemos nuestros servicios de venta con intermediario. <br>
         <br></p> 
        <h2>MUSEOS</h2>
        <div class="decoration"></div>
<p>Si su obra de arte es de un artista famoso, está en buen estado, ha conservado su integridad original, es decir, no ha sido modificada ni recortada desde su creación, si es un ejemplo grande e impresionante de la mejor producción del artista, probablemente pueda venderse a un museo. <br>

    Una condición importante es, por supuesto, que su autenticidad debe estar firmemente establecida.  No puede haber preguntas, dudas, vacilaciones sobre lo que es.   <br>
    
    Si quiere vender una obra de arte de este tipo, que sea de categoría museística, podemos ayudarle de forma muy eficaz y a nivel internacional. <br>
    
    </p>
   
</div>

    </div></div></div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs') %>

</body></html>

